<table class="liste">
  <thead>
    <tr>
      <th>Nom de l'entreprise</th>
      <th>Chiffre d'affaires (en euros)</th>
      <th>Secteur d'activité</th>
      <th>Adresse</th>
    </tr>
  </thead>
  <tbody>
    @for(entreprise of entreprises; track entreprise.nom) {
      <tr>
        <td>{{ entreprise.nom }}</td>
        <td>{{ entreprise.affaire | currency:'EUR'}}</td>
        <td>{{ entreprise.secteur }}</td>
        <td><app-adresse [adresse]="entreprise.adresse" /></td>
      </tr>
    }
  </tbody>
</table>

<div>
  {{service.mail}}
</div>

<button (click)="updateMail()">update</button>